<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.hust.zoo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity android:name="vn.hust.zoo.ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="vn.hust.zoo.ui.HelpActivity" >
        </activity>
        <activity android:name="vn.hust.zoo.ui.LevelActivity" >
        </activity>
        <activity android:name="vn.hust.zoo.ui.GameActivity" >
        </activity>
    </application>

</manifest>